body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Style the container for the navigation links */
.navigation-box {
    background-color: #FBCEB1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the navigation links */
.navigation-box ul {
    list-style: none;
    padding: 0;
}

.navigation-box ul li {
    display: inline;
    margin-right: 20px;
}

.navigation-box ul li a {
    text-decoration: none;
    color: #333;
}

/* Additional styling for hover effect */
.navigation-box ul li a:hover {
    color: #808080;
}

/*Webpage 1: Home Page*/
body.home-page {
    background-image: url(bgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
}

/* Webpage 2: Photo Upload Page */
body.upload-page {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Style the container for the navigation links */
.navigation-box {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the navigation links */
.navigation-box ul {
    list-style: none;
    padding: 0;
}

.navigation-box ul li {
    display: inline;
    margin-right: 20px;
}

.navigation-box ul li a {
    text-decoration: none;
    color: #333;
}

/* Additional styling for hover effect */
.navigation-box ul li a:hover {
    color: #007bff;
}

/* Style the search container */
.search-container {
    text-align: center;
    margin: 20px;
}

.search-form {
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056
}

/* Webpage 3: Search Results Page */
body.search-results-page {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Style the retrieved images container */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin: 20px;
}

/* Style each image container */
.image {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
