/* Reset some default styles and set a basic font size */
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Apply a box-sizing border-box model to all elements */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Basic styling for header and footer */
header, footer {
    background-color: #E6B8B7;
    color: #333;
    text-align: center;
    padding: 10px;
}

/* Main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}

body {
    font-family: 'Lucida Console', 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the container for the navigation links */
.navigation-box {
    background-color: #DBCDF0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the navigation links */
.navigation-box ul {
    list-style: none;
    padding: 0;
}

.navigation-box ul li {
    display: inline;
    margin-right: 20px;
}

.navigation-box ul li a {
    text-decoration: none;
    color: #333;
}

/* Additional styling for hover effect */
.navigation-box ul li a:hover {
    color: #007BFF;
}

/* Style the forms */
.form-container {
    background-color: #F0F0F0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Webpage-specific styling */
.index-page {
    background-image: url("webbg.jpg");
}

.tut-page {
    background-image: url("webbg.jpg");
}

.search-page{
    background-image: url("webbg.jpg");
}

.about-page{
    background-image: url("webbg.jpg");
}

.pripol-page{
    background-image: url("webbg.jpg");
}

/* Style the footer */
footer {
    background-color: #E6B8B7;
    color: #333;
    padding: 10px;
    text-align: center;
}

/* Style the social icons */
.social-icons {
    margin-top: 20px;
}

/* Social icon sprite */
.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("icon.jpg"); 
    background-repeat: no-repeat;
    transition: opacity 0.3s ease; /* Smooth transition for hover effect */
}

/* Positioning for Instagram icon */
.instagram {
    background-position: 0 0;
}

/* Positioning for Facebook icon */
.facebook {
    background-position: -32px 0;
}

/* Hover effect for social icons */
.icon:hover {
    opacity: 0.8;
}
